<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<header th:replace="~{fragments/commons::header}"></header>
<body>
<nav th:replace="~{fragments/commons::navigation}"></nav>

<h2>Add Event</h2>

<form th:action="@{/add}" th:object="${event}" method="post">
    <label>Title: <input type="text" th:field="*{title}"/></label><br/>
    <label>Description: <input type="text" th:field="*{description}"/></label><br/>
    <label>Due Date: <input type="date" th:field="*{dueDate}"
                            value="${#temporals.format(event.dueDate, 'yyyy-MM-dd')}"/></label><br/>
    <label>Priority: <input type="number" th:min="1" th:max="6" th:field="*{priority}"/></label><br/>
    <label>Color: <input type="color" value="#ffffff" th:field="*{themeColor}"></label><br/>
    <input type="submit" value="Add Event"/>
    <p th:if="${customError}" style="color: red;">All fields must be filled</p>
</form>

</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>