<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Calendar Home</title>
</head>

<header th:replace="~{fragments/commons::header}"></header>

<body>
<nav th:replace="~{fragments/commons::navigation}"></nav>

<div id="calendar"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        var events = /*[[${eventsJson}]]*/ [];
        $('#calendar').fullCalendar({
            events: events,
            header:{
                left: 'prev,next',
                center: 'title',
                right: 'today'
            },
            defaultView: 'month',
            eventClick: function (calEvent, jsEvent, view) {
                // Assuming calEvent has an 'id' property
                var eventId = calEvent.id;

                // Redirect to details page with the event ID
                window.location.href = '/details?id=' + eventId;
            },
            eventRender: function (event, element) {
                element.css('background-color', event.themeColor);
                element.css('color', '#ffffff');
            }
        });
    });



</script>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>